*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* for light mode */
:root {
  --bg-color: white;
  --text-color: #000000;
  --primary-color: #a400ff;
  --button-border: #ff00ff;
  --button-hover-bg: #fcf1fb;
  --active-border: #49557e;
  --header-gradient-start: #00cfff;
  --header-gradient-mid: #a400ff;
  --header-gradient-end: #ff00ff;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --button-border: #bb86fc;
  --button-hover-bg: #2a2a2a;
  --active-border: #bb86fc;
   --header-gradient-start: #00cfff;
  --header-gradient-mid: #a400ff;
  --header-gradient-end: #ff00ff;
}

